.arrow {
    border: solid var(--poke-black);
    display: inline-block;
}

.arrow.arrow-up {
    transform: rotate(-135deg);
}

.arrow.arrow-right {
    transform: rotate(-45deg);
}

.arrow.arrow-down {
    transform: rotate(45deg);
}

.arrow.arrow-left {
    transform: rotate(135deg);
}

.arrow.big {
    padding: 30px;
    border-width: 0 30px 30px 0;
}

.arrow.medium {
    padding: 12px;
    border-width: 0 12px 12px 0;
}

.arrow.small {
    padding: 3px;
    border-width: 0 3px 3px 0;
}
