.search {
    position: relative;
    flex-grow: 1;
    margin-left: 150px;
}

.search .search-input.input {
    color: var(--dark-grey);
    font-size: 15px;
    padding-left: 6px;
}

.search .search-input.input:disabled {
    background-color: var(--light-grey) !important;
}

.search .search-list {
    display: block;
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    left: -25px;
    top: 108%;
    width: 200px;
    min-height: 24px;
    max-height: 144px;
    overflow: scroll;
}

.search .search-list.hidden {
    display: none;
}

.search .search-list .list-item {
    padding-left: 10px;
}

.search .search-list .list-item:hover {
    cursor: pointer;
    background-color: var(--beige);
}
