.resume-card {
    display: flex;
    width: max-content;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.themed .resume-card .card-image {
    display: none;
}

.resume-card .hidden-card-image {
    display: none;
}

.themed .resume-card .hidden-card-image {
    display: block;
}

.card-content-wrapper {
    display: flex;
    flex-direction: column;
}

.developer-card.card {
    min-width: 440px;
}

.developer-card.card .card-title {
    text-align: start;
}

.developer-card.card .card-subtitle {
    padding-left: 100px;
}

.developer-card.card .card-header {
    color: var(--dark-grey)
}

.card-download-button {
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    position: relative;
}

.themed .card-download-button {
    background-color: var(--main);
}

.card-download-button .download-text {
    display: block;
    margin: 25px auto;
    text-align: center;
    font-weight: lighter;
    color: var(--white);
    font-size: 14px;
}

.card-download-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
}
