.poke-resume.resume-card .card .card-content {
    display: block;
    min-height: 122px;
    max-height: 122px;
}

.poke-resume.resume-card .card .card-content .card-item {
    padding-bottom: 8px;
}

.poke-resume.resume-card {
    margin: auto;
}

.poke-slide-left, .poke-slide-right {
    position: fixed;
    bottom: 250px;
    border-color: var(--blue);
    cursor: pointer;
}

.themed .poke-slide-left, .themed .poke-slide-right {
    border-color: var(--main);
}

.poke-slide-left {
    left: 250px;
}

.poke-slide-right {
    right: 250px;
}
