:root {
    --main: #ee8329;
    --blue: #207394;
    --white: #ffffff;
    --light-grey: #cdcdcd;
    --dark-grey: #626262;
    --red: #eb4110;
    --beige: #eede7b;

    --poke-black: #262122;
    --poke-red: #ba0c2f;
    --poke-yellow: yellow;
}

/* palette taken from http://pokepalettes.com/#charizard */
