.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 .9em 1.2em .9em;
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid var(--light-grey);
    border-left:   .3em solid transparent;
    font-size: 24px;
}

.star.selected {
    border-bottom-color: gold;
}

.star::before,
.star::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
    border-right:  1em solid transparent;
    border-bottom: .7em  solid var(--light-grey);
    border-left:   1em solid transparent;
    transform: rotate(-35deg);
}

.star.selected::before,
.star.selected::after {
    border-bottom-color: gold;
}

.star::after {
    transform: rotate(35deg);
}
