.search-list .list-item {
    position: relative;
}

.search-list .list-item .item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
}

.search-list .no-items {
    display: block;
    text-align: center;
    color: var(--dark-grey);
    font-size: 17px;
}
